USE [master]
GO
/****** Object:  Database [СityLibraries]    Script Date: 19.11.2024 13:09:00 ******/
CREATE DATABASE [СityLibraries]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'СityLibraries', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\СityLibraries.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'СityLibraries_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\СityLibraries_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [СityLibraries].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [СityLibraries]
GO
/****** Object:  User [MANAGER]    Script Date: 19.11.2024 13:09:01 ******/
CREATE USER [MANAGER] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[MANAGER]
GO
/****** Object:  User [ADMIN]    Script Date: 19.11.2024 13:09:01 ******/
CREATE USER [ADMIN] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[ADMIN]
GO
/****** Object:  DatabaseRole [db_manager]    Script Date: 19.11.2024 13:09:01 ******/
CREATE ROLE [db_manager]
GO
/****** Object:  DatabaseRole [db_admin]    Script Date: 19.11.2024 13:09:01 ******/
CREATE ROLE [db_admin]
GO
ALTER ROLE [db_manager] ADD MEMBER [MANAGER]
GO
ALTER ROLE [db_datareader] ADD MEMBER [MANAGER]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [MANAGER]
GO
ALTER ROLE [db_admin] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_owner] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [db_manager]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [db_manager]
GO
ALTER ROLE [db_owner] ADD MEMBER [db_admin]
GO
/****** Object:  Schema [ADMIN]    Script Date: 19.11.2024 13:09:01 ******/
CREATE SCHEMA [ADMIN]
GO
/****** Object:  Schema [db_admin]    Script Date: 19.11.2024 13:09:01 ******/
CREATE SCHEMA [db_admin]
GO
/****** Object:  Schema [db_manager]    Script Date: 19.11.2024 13:09:01 ******/
CREATE SCHEMA [db_manager]
GO
/****** Object:  Schema [MANAGER]    Script Date: 19.11.2024 13:09:01 ******/
CREATE SCHEMA [MANAGER]
GO
/****** Object:  UserDefinedFunction [dbo].[ArithmeticOperations]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ArithmeticOperations]
(
    @Operand1 BIGINT,
    @Operand2 BIGINT,
    @Operator NVARCHAR(1)
)
RETURNS BIGINT
AS
BEGIN
    DECLARE @Result BIGINT

    IF @Operator = '+'
        SET @Result = @Operand1 + @Operand2
    ELSE IF @Operator = '-'
        SET @Result = @Operand1 - @Operand2
    ELSE IF @Operator = '*'
        SET @Result = @Operand1 * @Operand2
    ELSE IF @Operator = '/'
        SET @Result = @Operand1 / @Operand2

    RETURN @Result
END
GO
/****** Object:  UserDefinedFunction [dbo].[Calculator]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[Calculator]
(
    @Opd1 bigint,
    @Opd2 bigint,
    @Oprt char(1) = '*'
)
RETURNS BIGINT
AS
BEGIN
    DECLARE @Result bigint

    IF @Opd1 = 0 AND @Opd2 = 0
        SET @Result = 0
    ELSE BEGIN
        IF @Oprt = '+'
            SET @Result = @Opd1 + @Opd2
        ELSE IF @Oprt = '-'
            SET @Result = @Opd1 - @Opd2
        ELSE IF @Oprt = '*'
            SET @Result = @Opd1 * @Opd2
        ELSE IF @Oprt = '/'
        BEGIN
            IF @Opd2 != 0
                SET @Result = @Opd1 / @Opd2
            ELSE
                RETURN NULL 
        END
    END

    RETURN @Result
END
GO
/****** Object:  UserDefinedFunction [dbo].[COPY_READERS]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[COPY_READERS]()
RETURNS @READER TABLE
(
	READER_ID INT,
	READER_SURNAME NVARCHAR(100),
	READER_NAME NVARCHAR(100),
	READER_PATRONYMIC NVARCHAR(100),
	READER_CATEGORY NVARCHAR (50),
	READER_WORKING_PLACE NVARCHAR(MAX),
	READER_BIRTHDAY DATE,
	READER_AGE INT,
	READER_REGISTRATION DATE
	
)
AS
BEGIN
	INSERT @READER
	SELECT * FROM READERS WHERE READER_WORKING_PLACE = 'УАТ'
	RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[FULLNAME]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FULLNAME](@READER_ID INT)
RETURNS NVARCHAR (150)
AS
BEGIN
	DECLARE @FNAME NVARCHAR(150)
	SELECT 
		@FNAME = READER_SURNAME + ' ' 
		+ READER_NAME + ' ' 
		+ READER_PATRONYMIC
	FROM READERS
	WHERE READER_ID = @READER_ID
	RETURN @FNAME
END

GO
/****** Object:  UserDefinedFunction [dbo].[ParseStr]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ParseStr] (@String nvarchar(500))RETURNS @table TABLE
(Number int IDENTITY (1,1) NOT NULL,Substr nvarchar (30))
AS
BEGIN
DECLARE @Str1 nvarchar(500), @Pos int,@Count int, @PosCount int
SET @Count = 0
SET @PosCount = 1
SET @Str1 = @String
WHILE @Count < LEN(@Str1)
 BEGIN SET @Pos = CHARINDEX(' ', @Str1)
 IF @POS > 0  BEGIN
  SET @Count = @Count + 1 
  INSERT INTO @table
  VALUES (SUBSTRING (@Str1, 1, @Pos))  
  --SET @PosCount = @PosCount + @Pos
  SET @Str1 = REPLACE(@Str1, SUBSTRING (@Str1, 1, @Pos), '') 
  END
 ELSE  
 BEGIN
  INSERT INTO @table
  VALUES (@Str1)
  BREAK 
  END
 END
 RETURN
END
GO
/****** Object:  Table [dbo].[ISSUING_LITERATURE]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISSUING_LITERATURE](
	[ISSUING_LITERATURE_READER] [int] NOT NULL,
	[ISSUING_LITERATURE_LITERATURE] [int] NOT NULL,
	[ISSUING_LITERATURE_DATE_OF_ISSUE] [date] NOT NULL,
	[ISSUING_LITERATURE_ISSUANCE_DATE] [date] NULL,
	[ISSUING_LITERATURE_TYPE_OF_ISSUANCE] [nvarchar](30) NOT NULL,
	[ISSUING_LITERATURE_DEPOSIT]  AS (case when [ISSUING_LITERATURE_TYPE_OF_ISSUANCE]='На дом' then 'Есть' when [ISSUING_LITERATURE_TYPE_OF_ISSUANCE]='На месте' then 'Нет'  end)
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRARIES]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRARIES](
	[LIBRARY_ID] [int] IDENTITY(1,1) NOT NULL,
	[LIBRARY_NAME] [nvarchar](max) NOT NULL,
	[LIBRARY_ADDRESS] [nvarchar](max) NOT NULL,
	[LIBRARY_CITY] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LIBRARIES] PRIMARY KEY CLUSTERED 
(
	[LIBRARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LITERATURE]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LITERATURE](
	[LITERATURE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LITERATURE_NAME] [nvarchar](max) NOT NULL,
	[LITERATURE_CATEGORY] [nvarchar](50) NOT NULL,
	[LITERATURE_AUTHOR] [nvarchar](100) NOT NULL,
	[LITERATURE_PUBLISHER] [nvarchar](150) NOT NULL,
	[LITERATURE_PUBLISHING_DATE] [int] NOT NULL,
	[LITERATURE_PAGES] [int] NOT NULL,
	[LITERATURE_READING_ROOM] [int] NULL,
 CONSTRAINT [PK_LITERATURE_1] PRIMARY KEY CLUSTERED 
(
	[LITERATURE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[READERS]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[READERS](
	[READER_ID] [int] IDENTITY(1,1) NOT NULL,
	[READER_SURNAME] [nvarchar](100) NOT NULL,
	[READER_NAME] [nvarchar](100) NOT NULL,
	[READER_PATRONYMIC] [nvarchar](100) NULL,
	[READER_CATEGORY]  AS (case when datediff(year,[READER_BIRTHDAY],getdate())>=(1) AND datediff(year,[READER_BIRTHDAY],getdate())<=(6) then 'Дошкольный возраст' when datediff(year,[READER_BIRTHDAY],getdate())>=(7) AND datediff(year,[READER_BIRTHDAY],getdate())<=(17) then 'Школьник' else 'Взрослый' end),
	[READER_WORKING_PLACE] [nvarchar](max) NOT NULL,
	[READER_BIRTHDAY] [date] NOT NULL,
	[READER_AGE]  AS ((datepart(year,getdate())-datepart(year,[READER_BIRTHDAY]))-case when datepart(month,[READER_BIRTHDAY])>datepart(month,getdate()) then (1) when datepart(month,[READER_BIRTHDAY])=datepart(month,getdate()) AND datepart(day,[READER_BIRTHDAY])>datepart(day,getdate()) then (1) else (0) end),
	[READER_REGISTRATION] [date] NOT NULL,
	[READER_PHOTO] [nvarchar](max) NULL,
 CONSTRAINT [PK_READERS_1] PRIMARY KEY CLUSTERED 
(
	[READER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[READING_ROOM]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[READING_ROOM](
	[READING_ROOM_ID] [int] IDENTITY(1,1) NOT NULL,
	[READING_ROOM_NAME] [nvarchar](100) NOT NULL,
	[READING_ROOM_LIBRARY] [int] NOT NULL,
	[READING_ROOM_LITERATURE] [int] NOT NULL,
	[READING_ROOM_SEATS] [int] NOT NULL,
	[READING_ROOM_WORK_TIME] [nvarchar](100) NOT NULL,
	[READING_ROOM_FLOOR] [int] NULL,
	[READING_ROOM_WORKERS] [int] NULL,
 CONSTRAINT [PK_READING_ROOM] PRIMARY KEY CLUSTERED 
(
	[READING_ROOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_ACT_PUBLISHER]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GET_ACT_PUBLISHER]()
RETURNS TABLE
AS
RETURN
(
	SELECT LITERATURE_NAME AS Название_книги,
	LITERATURE_PUBLISHER AS Издательство,
	LITERATURE_PAGES AS Количество_страниц
	FROM LITERATURE
	WHERE LITERATURE_PUBLISHER = 'АСТ'
)
GO
/****** Object:  UserDefinedFunction [dbo].[RETURN_DYNAMIC_TABLE]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RETURN_DYNAMIC_TABLE] (@PUBLISHER NVARCHAR(50))
RETURNS TABLE
AS
RETURN SELECT LITERATURE_NAME AS Название_книги,
	LITERATURE_AUTHOR AS Автор,
	LITERATURE_PUBLISHER AS Издатель,
	LITERATURE_PAGES AS Количество_страниц
	FROM LITERATURE 
	WHERE LITERATURE_PUBLISHER = @PUBLISHER
GO
/****** Object:  UserDefinedFunction [dbo].[RETURN_DYNAMIC_TABLES]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RETURN_DYNAMIC_TABLES] (@PUBLISHER NVARCHAR(50))
RETURNS TABLE
AS
RETURN SELECT LITERATURE_NAME AS Название_книги,
	LITERATURE_AUTHOR AS Автор,
	LITERATURE_PUBLISHER AS Издатель,
	LITERATURE_PAGES AS Количество_страниц
	FROM LITERATURE 
	WHERE LITERATURE_PUBLISHER = @PUBLISHER
GO
/****** Object:  View [dbo].[FirstView]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FirstView]
AS
SELECT        dbo.READERS.READER_SURNAME AS Фамилия, dbo.READERS.READER_NAME AS Имя, dbo.READERS.READER_PATRONYMIC AS Отчество, dbo.READERS.READER_AGE AS Возраст, 
                         dbo.LITERATURE.LITERATURE_NAME AS Выданная_книга, dbo.ISSUING_LITERATURE.ISSUING_LITERATURE_DATE_OF_ISSUE AS Дата_выдачи_книги, 
                         dbo.ISSUING_LITERATURE.ISSUING_LITERATURE_ISSUANCE_DATE AS Дата_сдачи_книги
FROM            dbo.READERS INNER JOIN
                         dbo.ISSUING_LITERATURE ON dbo.READERS.READER_ID = dbo.ISSUING_LITERATURE.ISSUING_LITERATURE_READER INNER JOIN
                         dbo.LITERATURE ON dbo.ISSUING_LITERATURE.ISSUING_LITERATURE_LITERATURE = dbo.LITERATURE.LITERATURE_ID
WHERE        (dbo.READERS.READER_SURNAME LIKE 'И%')
GO
/****** Object:  View [dbo].[FourthView]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FourthView]
AS
SELECT 
LITERATURE_NAME AS Название_книги,
LITERATURE_AUTHOR AS Автор,
LITERATURE_CATEGORY AS Жанр,
LITERATURE_PAGES AS Количество_страниц,
LITERATURE_PUBLISHER AS Издательство,
LITERATURE_PUBLISHING_DATE AS Дата_издания
FROM LITERATURE 
WHERE LITERATURE_PUBLISHER IN ('АСТ')
WITH CHECK OPTION
GO
/****** Object:  View [dbo].[SecondView]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SecondView]
AS
SELECT        dbo.READERS.READER_SURNAME AS Фамилия, dbo.READERS.READER_NAME AS Имя, dbo.READERS.READER_PATRONYMIC AS Отчество, dbo.READERS.READER_AGE AS Возраст, 
                         dbo.ISSUING_LITERATURE.ISSUING_LITERATURE_ISSUANCE_DATE AS Дата_сдачи_книги
FROM            dbo.READERS INNER JOIN
                         dbo.ISSUING_LITERATURE ON dbo.READERS.READER_ID = dbo.ISSUING_LITERATURE.ISSUING_LITERATURE_READER
WHERE        (dbo.READERS.READER_NAME LIKE 'А%')
GO
/****** Object:  View [dbo].[ThirdView]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThirdView]
AS
SELECT
LIBRARIES.LIBRARY_NAME AS Название_библиотеки,
LIBRARIES.LIBRARY_ADDRESS AS Адрес,
READING_ROOM.READING_ROOM_NAME AS Название_читального_зала,
READING_ROOM.READING_ROOM_SEATS AS Количество_посадочных_мест
FROM LIBRARIES, READING_ROOM
WHERE READING_ROOM.READING_ROOM_LIBRARY = LIBRARIES.LIBRARY_ID
GO
INSERT [dbo].[ISSUING_LITERATURE] ([ISSUING_LITERATURE_READER], [ISSUING_LITERATURE_LITERATURE], [ISSUING_LITERATURE_DATE_OF_ISSUE], [ISSUING_LITERATURE_ISSUANCE_DATE], [ISSUING_LITERATURE_TYPE_OF_ISSUANCE]) VALUES (17, 1, CAST(N'2024-03-24' AS Date), CAST(N'2024-03-24' AS Date), N'На месте')
INSERT [dbo].[ISSUING_LITERATURE] ([ISSUING_LITERATURE_READER], [ISSUING_LITERATURE_LITERATURE], [ISSUING_LITERATURE_DATE_OF_ISSUE], [ISSUING_LITERATURE_ISSUANCE_DATE], [ISSUING_LITERATURE_TYPE_OF_ISSUANCE]) VALUES (17, 2, CAST(N'2024-03-24' AS Date), CAST(N'2024-05-17' AS Date), N'На дом')
INSERT [dbo].[ISSUING_LITERATURE] ([ISSUING_LITERATURE_READER], [ISSUING_LITERATURE_LITERATURE], [ISSUING_LITERATURE_DATE_OF_ISSUE], [ISSUING_LITERATURE_ISSUANCE_DATE], [ISSUING_LITERATURE_TYPE_OF_ISSUANCE]) VALUES (3, 3, CAST(N'2024-02-24' AS Date), CAST(N'2024-02-24' AS Date), N'На месте')
GO
SET IDENTITY_INSERT [dbo].[LIBRARIES] ON 

INSERT [dbo].[LIBRARIES] ([LIBRARY_ID], [LIBRARY_NAME], [LIBRARY_ADDRESS], [LIBRARY_CITY]) VALUES (1, N'Центр юношеского чтения', N'ул. пр-т. Октября, 62/2', N'Уфа')
INSERT [dbo].[LIBRARIES] ([LIBRARY_ID], [LIBRARY_NAME], [LIBRARY_ADDRESS], [LIBRARY_CITY]) VALUES (2, N'Библиотека №5', N'ул. Карла Маркса, 64', N'Уфа')
INSERT [dbo].[LIBRARIES] ([LIBRARY_ID], [LIBRARY_NAME], [LIBRARY_ADDRESS], [LIBRARY_CITY]) VALUES (3, N'Библиотека №4', N'просп. Октября, 9', N'Уфа')
SET IDENTITY_INSERT [dbo].[LIBRARIES] OFF
GO
SET IDENTITY_INSERT [dbo].[LITERATURE] ON 

INSERT [dbo].[LITERATURE] ([LITERATURE_ID], [LITERATURE_NAME], [LITERATURE_CATEGORY], [LITERATURE_AUTHOR], [LITERATURE_PUBLISHER], [LITERATURE_PUBLISHING_DATE], [LITERATURE_PAGES], [LITERATURE_READING_ROOM]) VALUES (1, N'Коралина', N'Детская художественная литература', N'Нил Гейман', N'АСТ', 2022, 192, 1)
INSERT [dbo].[LITERATURE] ([LITERATURE_ID], [LITERATURE_NAME], [LITERATURE_CATEGORY], [LITERATURE_AUTHOR], [LITERATURE_PUBLISHER], [LITERATURE_PUBLISHING_DATE], [LITERATURE_PAGES], [LITERATURE_READING_ROOM]) VALUES (2, N'Северус. Глубочайшее исследование фигуры наизагадочнейшего зельевара Хогвартса', N'Детская художественная литература', N'Ким Лорри', N'Эксмо', 2023, 480, 2)
INSERT [dbo].[LITERATURE] ([LITERATURE_ID], [LITERATURE_NAME], [LITERATURE_CATEGORY], [LITERATURE_AUTHOR], [LITERATURE_PUBLISHER], [LITERATURE_PUBLISHING_DATE], [LITERATURE_PAGES], [LITERATURE_READING_ROOM]) VALUES (3, N'Кошичкин тилипон. Правдиви истори о котиках и их никчемни. Экспресс-помощь для тех, кто застрял в рутине и ищет вдохновение', N'Психология', N'Арефьева Зоя', N'АСТ', 2024, 288, 3)
SET IDENTITY_INSERT [dbo].[LITERATURE] OFF
GO
SET IDENTITY_INSERT [dbo].[READERS] ON 

INSERT [dbo].[READERS] ([READER_ID], [READER_SURNAME], [READER_NAME], [READER_PATRONYMIC], [READER_WORKING_PLACE], [READER_BIRTHDAY], [READER_REGISTRATION], [READER_PHOTO]) VALUES (3, N'Рафикова', N'Вилада', N'Халилевна', N'БГАУ', CAST(N'2005-06-23' AS Date), CAST(N'2023-05-22' AS Date), N'\Photo\ArsenAlisa.png')
INSERT [dbo].[READERS] ([READER_ID], [READER_SURNAME], [READER_NAME], [READER_PATRONYMIC], [READER_WORKING_PLACE], [READER_BIRTHDAY], [READER_REGISTRATION], [READER_PHOTO]) VALUES (4, N'Попова', N'Ульяна', N'Ильична', N'Детский сад №300 "Улыбка"', CAST(N'2020-04-04' AS Date), CAST(N'2023-06-17' AS Date), N'\Photo\arsenboss.png')
INSERT [dbo].[READERS] ([READER_ID], [READER_SURNAME], [READER_NAME], [READER_PATRONYMIC], [READER_WORKING_PLACE], [READER_BIRTHDAY], [READER_REGISTRATION], [READER_PHOTO]) VALUES (5, N'Бикбулатов', N'Серафим', N'Шамилевич', N'УАТ', CAST(N'2005-01-08' AS Date), CAST(N'2023-09-17' AS Date), N'\Photo\ARSENESSKETIT.png')
SET IDENTITY_INSERT [dbo].[READERS] OFF
GO
SET IDENTITY_INSERT [dbo].[READING_ROOM] ON 

INSERT [dbo].[READING_ROOM] ([READING_ROOM_ID], [READING_ROOM_NAME], [READING_ROOM_LIBRARY], [READING_ROOM_LITERATURE], [READING_ROOM_SEATS], [READING_ROOM_WORK_TIME], [READING_ROOM_FLOOR], [READING_ROOM_WORKERS]) VALUES (1, N'Общий читальный зал', 1, 370, 20, N'Будние дни с 9:00 до 20:00; Выходные дни с 10:00 до 18:00', 1, 2)
INSERT [dbo].[READING_ROOM] ([READING_ROOM_ID], [READING_ROOM_NAME], [READING_ROOM_LIBRARY], [READING_ROOM_LITERATURE], [READING_ROOM_SEATS], [READING_ROOM_WORK_TIME], [READING_ROOM_FLOOR], [READING_ROOM_WORKERS]) VALUES (2, N'Общий читальный зал', 2, 200, 50, N'Будние дни с 9:00 до 20:00; Выходные дни с 10:00 до 18:00', 1, 2)
INSERT [dbo].[READING_ROOM] ([READING_ROOM_ID], [READING_ROOM_NAME], [READING_ROOM_LIBRARY], [READING_ROOM_LITERATURE], [READING_ROOM_SEATS], [READING_ROOM_WORK_TIME], [READING_ROOM_FLOOR], [READING_ROOM_WORKERS]) VALUES (3, N'Общий читальный зал', 3, 170, 50, N'Будние дни с 9:00 до 20:00; Выходные дни с 10:00 до 18:00', 2, 2)
SET IDENTITY_INSERT [dbo].[READING_ROOM] OFF
GO
ALTER TABLE [dbo].[LITERATURE]  WITH CHECK ADD  CONSTRAINT [FK_LITERATURE_READING_ROOM] FOREIGN KEY([LITERATURE_READING_ROOM])
REFERENCES [dbo].[READING_ROOM] ([READING_ROOM_ID])
GO
ALTER TABLE [dbo].[LITERATURE] CHECK CONSTRAINT [FK_LITERATURE_READING_ROOM]
GO
ALTER TABLE [dbo].[READING_ROOM]  WITH CHECK ADD  CONSTRAINT [FK_READING_ROOM_LIBRARIES] FOREIGN KEY([READING_ROOM_LIBRARY])
REFERENCES [dbo].[LIBRARIES] ([LIBRARY_ID])
GO
ALTER TABLE [dbo].[READING_ROOM] CHECK CONSTRAINT [FK_READING_ROOM_LIBRARIES]
GO
ALTER TABLE [dbo].[ISSUING_LITERATURE]  WITH CHECK ADD  CONSTRAINT [Library_or_Home] CHECK  (([ISSUING_LITERATURE_TYPE_OF_ISSUANCE]='На дом' OR [ISSUING_LITERATURE_TYPE_OF_ISSUANCE]='На месте'))
GO
ALTER TABLE [dbo].[ISSUING_LITERATURE] CHECK CONSTRAINT [Library_or_Home]
GO
/****** Object:  StoredProcedure [dbo].[GET_ACT_PUBLISH]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_ACT_PUBLISH]
AS
BEGIN
    SELECT LITERATURE_NAME AS Название_книги,
           LITERATURE_PUBLISHER AS Издательство,
           LITERATURE_PAGES AS Количество_страниц
    FROM LITERATURE
    WHERE LITERATURE_PUBLISHER = 'АСТ';
END
GO
/****** Object:  StoredProcedure [dbo].[GET_PUBLISHER]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_PUBLISHER] (@PUBLISHER NVARCHAR(50))
AS
BEGIN
	SELECT LITERATURE_NAME AS Название_книги,
		LITERATURE_AUTHOR AS Автор,
		LITERATURE_PUBLISHER AS Издательство,
		LITERATURE_PAGES AS Количество_страниц
		FROM LITERATURE
		WHERE LITERATURE_PUBLISHER = @PUBLISHER
END;
GO
/****** Object:  StoredProcedure [dbo].[GET_PUBLISHER_WITH_DATE]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_PUBLISHER_WITH_DATE] (@Publisher NVARCHAR(50), @DATE INT)
AS
BEGIN
    IF EXISTS (SELECT * FROM LITERATURE WHERE LITERATURE_PUBLISHER = @Publisher)
    BEGIN
            SELECT LITERATURE_NAME AS Название_книги,
                   LITERATURE_AUTHOR AS Автор,
                   LITERATURE_PUBLISHER AS Издательство,
                   LITERATURE_PAGES AS Количество_страниц
            FROM LITERATURE
            WHERE LITERATURE_PUBLISHER = @Publisher AND LITERATURE_PUBLISHING_DATE = @DATE
    END
    ELSE
    BEGIN
        RETURN 0;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SELECT_TABLE]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_TABLE] (@NAMETABLE NVARCHAR(50))
AS
BEGIN
    IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = @NAMETABLE)
    BEGIN
        RAISERROR ('Таблица %s не существует.', 16, 1, @NAMETABLE);
        RETURN;
    END

    DECLARE @sql NVARCHAR(MAX);
    SET @sql = 'SELECT * FROM ' + QUOTENAME(@NAMETABLE);

    EXEC sp_executesql @sql;
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_READERS_FULLNAMES]    Script Date: 19.11.2024 13:09:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_READERS_FULLNAMES] (@READER_ID INT, 
@READER_SURNAME NVARCHAR(100), @READER_NAME  NVARCHAR(100), 
@READER_PATRONYMIC NVARCHAR(100))
AS
BEGIN 
	UPDATE READERS
	SET READER_SURNAME = @READER_SURNAME,
	READER_NAME = @READER_NAME,
	READER_PATRONYMIC = @READER_PATRONYMIC
	WHERE READER_ID = @READER_ID
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[49] 4[14] 2[6] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "LITERATURE"
            Begin Extent = 
               Top = 193
               Left = 0
               Bottom = 398
               Right = 424
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "READERS"
            Begin Extent = 
               Top = 252
               Left = 463
               Bottom = 382
               Right = 709
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ISSUING_LITERATURE"
            Begin Extent = 
               Top = 25
               Left = 318
               Bottom = 155
               Right = 644
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 2115
         Width = 4635
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2115
         Alias = 2880
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1545
         SortOrder = 1965
         GroupBy = 960
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'FirstView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'FirstView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[22] 4[18] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "READERS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 284
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ISSUING_LITERATURE"
            Begin Extent = 
               Top = 6
               Left = 322
               Bottom = 136
               Right = 648
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 4635
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2115
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SecondView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SecondView'
GO
USE [master]
GO
